function WoodenFish.new 0
push constant 1
call Memory.alloc 1
pop pointer 0
push constant 0
pop this 0
push pointer 0
return
function WoodenFish.start 0
push argument 0
pop pointer 0
push pointer 0
push constant 0
call WoodenFish.drawWoodenFish 2
pop temp 0
label WHILE_EXP2
push constant 1
push constant 0
eq
if-goto WHILE_END2
goto WHILE_EXP2
label WHILE_END2
push constant 0
return
function WoodenFish.drawWoodenFish 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 1892
add
push constant 32768
neg
call Memory.poke 2
pop temp 0
push constant 0
return
