function Bird.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push constant 0
pop this 2
push pointer 0
push this 0
push this 1
call Bird.draw 3
pop temp 0
push pointer 0
return
function Bird.updateAcc 1
push argument 0
pop pointer 0
push argument 1
pop this 3
push this 2
push this 3
add
pop local 0
push pointer 0
push local 0
call Bird.updateVelo 2
pop temp 0
push constant 0
return
function Bird.isADeadBird 0
push argument 0
pop pointer 0
push this 1
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push constant 0
return
function Bird.updateVelo 0
push argument 0
pop pointer 0
push argument 1
pop this 2
push constant 0
return
function Bird.draw 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push argument 1
push argument 2
push constant 2
call Screen.drawCircle 3
pop temp 0
push constant 0
return
function Bird.gotoNextPlace 0
push argument 0
pop pointer 0
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 3
call String.new 1
push constant 121
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 1
call Output.printInt 1
pop temp 0
push this 2
push constant 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
push constant 20
gt
push this 1
and
push constant 200
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 1
push this 2
add
pop this 1
push pointer 0
push this 0
push this 1
call Bird.draw 3
pop temp 0
label IF_FALSE1
label IF_FALSE0
push constant 0
return
function Bird.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
