function Pipe.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 2
push argument 3
pop this 3
push pointer 0
push this 0
push this 1
call Pipe.draw 3
pop temp 0
push pointer 0
return
function Pipe.gotoNextPlace 0
push argument 0
pop pointer 0
push pointer 0
push this 0
push this 1
call Pipe.draw 3
pop temp 0
push constant 0
return
function Pipe.draw 0
push argument 0
pop pointer 0
push constant 0
return
function Pipe.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
